@import './colour-palette';

.button {
    border: 2px solid $zw-button-border-color;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em 2em;
    background: $zw-background-color;
    cursor: pointer;
    color: $zw-text-button-color;
    user-select: none;
}

.button:hover{
    color: $zw-text-button-color-darker;
    border: 2px solid $zw-button-border-color-darker;
    font-weight: bold;
}

.button.secondary {
    background: $zw-primary-color;
    color: $zw-text-negativ-color;
    border-color: $zw-button-negativ-border-color;
}

button:disabled,
button[disabled]{
  color: $zw-gray !important;
  border-color: $zw-gray !important;
}