@import './colour-palette';

.covid-banner{
    background-color: $zw-black;
    border-radius: 17px;
    grid-column-start: 4;
    grid-column-end: 7;
    border: 2px solid $zw-black;
    padding: 0.2em 0.6em;
    color: white ;
    font-family: ARK;
    text-transform: none !important;
    transition-duration: 0.5s;
}

.covid-banner:hover{
    color: black;
    background-color: white;
    transition-duration: 0.5s;
}

.immersive-holder{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
}

.immersive-layer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 5em;
    pointer-events: visibleStroke;
}

.immersive-tickets{
    text-decoration: underline;
    font-style: italic;
}

.immersive-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
    z-index: -100;
}

.immersive-day{
    font-family: ARK;
    font-size: 2em;
    line-height: 1em;
    margin-top: 1em;
    pointer-events: none;
}

.immersive-grid{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    margin-bottom: 0.5em;
    pointer-events: none;
}

.immersive-text{
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2em;
    pointer-events: none;
}

.immersive-left{
    text-align: right;
    pointer-events: none;
}

.immersive-3{
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
}

.covid-link{
    background-color: $covid-color;
    border-radius: 30px;
    grid-column-start: 8;
    grid-column-end: 9;
    border: 2px solid $zw-black;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
}

.banner-position{
    margin-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.covid-grid{
    display: grid;
    grid-template-columns: 10px;
    grid-auto-columns: calc((100% - 20px) / 7);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    grid-gap: 0;
    grid-auto-flow: column;
    min-height: 35px;
    padding-left: 0px;
  }