@import './colour-palette';

.lineInput{
    width: 100%;
    border-radius: 22px;
    border: 2px solid $zw-button-border-color;
    padding: 0.3em 0.6em;
    margin-bottom: 4px;
    color: $zw-button-active-color !important;
}

.lineInput:focus{
    border: 2px solid $zw-button-border-color-darker !important;
    outline: none;
}

.input:focus{
    border: 2px solid $zw-button-border-color-darker !important;
    outline: none;
}

::placeholder {
    color: $zw-primary-color !important;
    opacity: 1;
}