@import './colour-palette';

.gastro-menu-tile{
    border-radius: 16px;
    padding-top: 24px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
    margin-bottom: 2px;
}

.weekly {
    background-color: #FFEA2D;
}

.jobs-img > ul > li > img {
    margin-top: 0.4em;
    border-color: #999999;
    border-width: 2px;
    width: 100%;
}

.job-bild{
    margin-top: 0.4em;
    border-color: #666666;
    border-width: 2px;
    width: 100%;
    height: 100%;
}

.daily {
    background-color: transparent;
    color: $zw-black;
    border-color: $zw-black;
    border-width: 2px;
}

.menu-info {
    background-color: transparent;
    color: $zw-black;
}

.daily-active {
    background-color: #0029FF;
    color: $zw-background-color;
}

.drink {
    background-color: $zw-black;
    color: $zw-background-color;
}

.center-menu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}