@import './colour-palette';

.logo {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: -100;
    color: $zw-primary-color;
}

.logo > h1 {
    user-select: none;
    font-size: 2em;
    letter-spacing: -0.008em;
}
