
@media only screen and (max-width: 1050px) {
    .nav-grid{
        grid-auto-columns: calc((100% - 20px) / 5);
      }
    .covid-grid{
        grid-auto-columns: calc((100% - 20px) / 5) !important;
    }
    .nav-small-hidden{
        display: none;
    }
    .covid-banner{
        grid-column-start: 3 !important;
        grid-column-end: 6 !important;
    }
}

@media only screen and (max-width: 800px) {
    .imprint-overlay {
        display: none;
      }
    .nav-mobile-hidden{
        display: none;
      }
    .nav-mobile-show{
        display: inline;
    }
    .nav-small-hidden{
        display: none;
    }
    .nav-grid{
        grid-auto-columns: calc((100% - 20px) / 3);
    }
    .covid-grid{
        grid-auto-columns: calc((100% - 20px) / 3) !important;
        padding-left: 10px !important;
    }
    .covid-banner{
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
}

@media only screen and (max-width: 600px) {
    .logo > h1 {
        font-size: 1.4em;
    }
    html{
        font-size: 15px !important;
    }
    .nav-mobile-hidden{
        display: none;
    }
    .nav-mobile-show{
        display: inline;
    }
    .nav-small-hidden{
        display: none;
    }
    .opening-grid{
        font-size: 1.1em;
        grid-template-columns: 1fr;
    }
    .opening-element{
        grid-column-start: 1;
        grid-template-columns: 2fr 3fr 6fr;
    }
    .opening-text{
        font-size: 0.8em;
    }

    .opening-one-grid{
        height: 90vh;
    }

    .opening-one-text{
        top: 30vh;
        bottom: none;
        height: 100%;
    }
    .opening-one-logos{
        bottom: 10vh;
    }
    .covid-banner{
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
}