@import './colour-palette';
@import './fonts';

.opening-outer{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100vw;
}

.opening-item{
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.opening-grid{
    padding-top: 80px;
    font-family: Croissant;
    font-size: 3.3vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
    line-height: 100%;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    grid-template-columns: 1fr 4fr;
    //grid-template-rows: 1fr auto;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.opening-all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 0.2em;
}

.opening-day{
    font-family: Croissant;
    grid-column-start: 1;
    grid-row-start: auto;
}

.slide{
    height: fit-content !important;
}

.slider{
    height: fit-content !important;
}

.slider-wrapper{
    height: fit-content !important;
}

.opening-element{
    grid-template-columns: 1fr 1fr 3fr;
    grid-column-start: 2;
    grid-row-start: auto;
    height: fit-content;
    display: grid;
    cursor: pointer;
    text-justify: inter-character;
}

.opening-element:hover {
    color: $zw-opening;
}

.opening-mi{
    grid-column: 1;
}

.opening-do{
    grid-column: 2;
}

.opening-fr{
    grid-column: 3;
}

.opening-sa{
    grid-column: 4;
}

.opening-time{
    font-family: Croissant;
    grid-column-start: 1;
    font-variant-numeric: proportional-nums lining-nums; 
}

.opening-type{
    font-family: Croissant;
    grid-column-start: 2;
}

.opening-title{
    font-family: Croissant;
    grid-column-start: 3;
}

.opening-text{
    font-size: 16px;
    line-height: 1.2em;
    text-transform: none;
    margin-top: 10px;
    color: $zw-black;
    display: none;
    letter-spacing: 0em;
}

.opening-element:hover .opening-text { display: block; }


.opening-one-grid{
    animation: 0.15s ease-out 0s 1 arrowLoad;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.opening-one-arrow{
    margin-left: 10px;
    height: 100%;
    min-width: 45px;
}

.opening-one-text-center{
    font-family: Croissant;
    font-size: 3.3vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.opening-one-text-left{
    font-family: Croissant;
    font-size: 3.3vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
    line-height: 100%;
    margin-left: auto;
    margin-right: 30px;
}

@keyframes arrowLoad {
    0% {
        grid-template-columns: 50% 1fr 1fr 1fr 5%;
    }
    10% {
        grid-template-columns: 45% 1fr 1fr 1fr 5%;
    }
    20% {
        grid-template-columns: 40% 1fr 1fr 1fr 5%;
    }
    30% {
        grid-template-columns: 35% 1fr 1fr 1fr 5%;
    }
    40% {
        grid-template-columns: 30% 1fr 1fr 1fr 5%;
    }
    50% {
        grid-template-columns: 25% 1fr 1fr 1fr 5%;
    }
    60% {
        grid-template-columns: 20% 1fr 1fr 1fr 5%;
    }
    70% {
        grid-template-columns: 15% 1fr 1fr 1fr 5%;
    }
    80% {
        grid-template-columns: 10% 1fr 1fr 1fr 5%;
    }
    90% {
        grid-template-columns: 7% 1fr 1fr 1fr 5%;
    }
    100% {
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
    }
  }

.opening-one-logos{
    display: grid;
    grid-template-columns: 8% 1fr 1fr 1fr 1fr 8%;
    position: fixed;
    gap: 8vw;
    height: 20%;
    bottom: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.opening-one-text{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    position: fixed;
    font-size: 0.8em;
    gap: 8vw;
    height: 35%;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: start;
    border-bottom: none !important;
}